 <!-- list of restaurants and to the creation form. -->

<nav class="navbar navbar-light bg-light">
  <%= link_to 'Back', restaurants_path %>
  <%= link_to 'Create Form', new_restaurant_path %>
</nav>|
